<div id="sub_header">
  <h1>Create Recipe</h1>
</div>

<div id="main_content">
  <form method="post">
    <label for="title" style="">Recipe Name:</label>
    <input type="text" name="title" id="title" />
    <input type="submit" value="Continue" class="submit_button" />
  </form>
</div>