<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" charset="utf-8">
    window.opener.location = 'http://<%= DOMAIN %>/recipe/<%= @recipe.id %>?from_import=true';
    window.close();
  </script>
</head>
<body>
</body>
</html>