<div id="sub_header">
  <h1>Can't View Private Recipe</h1>
</div>

<div id="main_content">
  <img src="/images/homer_error.png" style="float:left;margin-bottom:10px;">
  <p style="float:right;width:450px;">
    The recipe you are trying to view is private.
    
    <% if !current_user.authed? %>
      Is it your recipe? <a href="/login">Login.</a>
    <% end %>
  </p>
</div>