<div id="sub_header">
  <h1>Server Error</h1>
</div>

<div id="main_content">
  <img src="/images/homer_error.png" style="float:left;margin-bottom:10px;">
  <p style="float:right;width:450px;">
    It looks like Mealfire just had a bit of a... hiccup. We have been notified of the problem, but
    feel free to <a href="/contact">contact</a> us if you have any questions.
  </p>
</div>