<div id="sub_header">
  <h1>Retrieve Password</h1>
</div>

<div id="main_content">
  <p style="margin-top:0;">Type in your email address and we'll send you a link to reset your password.</p>
  
  <form method="post" action="/password">
    <label for="email">Email Address:</label>
    <input type="text" name="email" id="email" value="<%= h request[:email] %>"/>
    <input type="submit" class="submit_button" value="submit" style="margin-left:10px;" />
  </form>
</div>