<div id="sub_header">
  <h1>Reset Password</h1>
</div>

<div id="main_content">
  <p style="margin-top:0;">Type your new password below to reset it.</p>
  
  <form method="post">
    <label for="email">Your new password:</label>
    <input type="password" name="password" />
    <input type="submit" class="submit_button" value="submit" style="margin-left:10px;" />
  </form>
</div>